$purple:#1b2280;
$white: #fff;
$black: #000;
$yellow: rgb(255, 186, 36);
$red: rgb(255, 22, 22);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.text-center {
  text-align: center;
}

button:focus {
  border: none;
  outline: none;
}

.categories button:focus {
  font-weight: 800;
  font-size: 1.4em;
}

input[type="checkbox"] {
  transform: scale(1.6);
}

body {
  display: flex;
}

main {
  width: 70%;
  height: 100vh;
  padding-left: 2em;
}

h1 {
  margin-bottom: 3em;
}

.list-heading {
  font-size: 2.2em;
  margin-bottom: 1em;
}

.d-flex {
  display: flex;
}

.justify-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

nav {
  top: 0;
  left: 0;
  height: 100vh;
  background: $purple;
  width: 20%;
  color: $white;
  padding: 2rem;
}

.list {
  border: 0;
  display: block;
  background: transparent;
  color: $white;
  font-size: 1.1rem;
  margin-bottom: 1em;
  cursor: pointer;
}

.categories {
  height: 2.5rem;
}

.img {
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  background-image: url('./assets/plus.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1em;
}

.headings {
  margin: 1.7rem 0;
  font-size: 1.6em;
}

#categories-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  width: 70%;

  &-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bdbdbd;
    padding: 0.5em;

    &-c {
      @extend .task-body;

      background-color: #dddddd;      
    }



    &-text {
      display: flex;
      align-items: center;
      width: 50%;

      p {
        margin-left: 1em;
      }
    }

    &-end {
      display: flex;

      div {
        display: flex;
        align-items: center;
      }

      .edit-btn {
        border: none;
        background-color: $purple;
        color: white;
        padding: 0.5em;
        border-radius: 0.5em;
        margin-right: 0.5em;
      }

      .info-btn {
        @extend .edit-btn;

        background-color: $yellow;
      }

      .delete-btn {
        @extend .edit-btn;

        background-color: $red;
      }
    }
  }

  &-hidden {
    padding: 0.7em;
    display: none;
    justify-content: space-between;

    &-desc {
      width: 40%;

      p {
        margin-top: 1em;
        width: 100%;
        font-size: 0.7em;
      }
    }

    &-priority {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;

      p {
        margin-top: 1.3em;
        font-size: 1.4em;
        color: red;
      }
    }

    &-date {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;

      p {
        margin-top: 1.3em;
        font-size: 1.4em;
      }
    }
  }
}

// MODAL STYLING

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: 1em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background-image: url('./assets/cancel.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1em;
  display: none;
}

form {
  position: relative;
  display: none;
  z-index: 1;
  background: #fff;

  span {
    display: block;
    text-align: right;
  }

  width: 35vw;
  height: 100vh;
  border-left: 1px solid grey;
  padding: 1rem 1.5rem;

  label {
    display: block;
    font-size: 1rem;
    margin: 0.8rem 0;
  }

  input,
  select {
    padding: 0.2rem 1.2rem;
    width: 100%;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  .btn {
    background: #5ecb84;
    border: 0;
    color: #fff;
    font-size: 1rem;
  }
}

#edit-task-form {
  display: none;
}

.add-task-btn {
  position: absolute;
  right: 10rem;
  bottom: 5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url('./assets/create.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1em;
  cursor: pointer;
}
